body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#root {
  position: relative;
}


#home > .title {
  color: #00B7FF;
  font-size: xx-large;
}

#home p {
  color: palevioletred;
}

#home {
  text-align: center;
}

a {
  color: #00B7FF;
}

#connect {
  padding: 10px;
  border-radius: 10px;
  padding: 40px 20px;
  width: 60%;
  margin: 20px auto;
  color: #f6851b;
  font-family: 'Euclid Circular B', sans-serif;
  line-height: 40px;
  font-weight: 400;
  box-shadow: 0 0 10px rgba(95, 125, 149, .3);
  transition: transform 150ms cubic-bezier(.25,.46,.45,.94), box-shadow 150ms cubic-bezier(.25,.46,.45,.94);
}

#connect:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgba(95, 125, 149, .3);
}



#show-room .header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
  position: fixed;
  width: 100%;
}

#show-room .header .logo {
  width: 50%;
  float: left;
  color: #00B7FF;
  font-size: 30px;
}

#show-room .header .address-box {
  text-align: end;
  position: absolute;
  right: 0;
  padding: 10px;
}

.not-found {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  color: #f6851b;
}

#gallery {
  padding-top: 100px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
}

.token-card {
  display: inline-block;
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin: 30px;
  box-shadow: 0 0 10px rgba(95, 125, 149, .3);
  transition: transform 150ms cubic-bezier(.25,.46,.45,.94), box-shadow 150ms cubic-bezier(.25,.46,.45,.94);
}

.token-card:hover {
  cursor: pointer;
  box-shadow: 0 0 40px rgba(43, 55, 65, 0.3);

}

.token-id {
  font-size: 15px;
}

.token-name {
  padding: 10px;
  color: rgb(73, 72, 72);
}

.token-card > div {
  margin: 10px;
}