body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#root {
  position: relative;
}


#home > .title {
  color: #00B7FF;
  font-size: xx-large;
}

#home p {
  color: palevioletred;
}

#home {
  text-align: center;
}

a {
  color: #00B7FF;
}

#connect {
  padding: 10px;
  border-radius: 10px;
  padding: 40px 20px;
  width: 60%;
  margin: 20px auto;
  color: #f6851b;
  font-family: 'Euclid Circular B', sans-serif;
  line-height: 40px;
  font-weight: 400;
  box-shadow: 0 0 10px rgba(95, 125, 149, .3);
  transition: transform 150ms cubic-bezier(.25,.46,.45,.94), box-shadow 150ms cubic-bezier(.25,.46,.45,.94);
}

#connect:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgba(95, 125, 149, .3);
}

#show-room {
  position: relative;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar div{
  display: inline-block;
}

header .logo {
  color: #00B7FF;
  font-size: 30px;
}

.connection-box {
  position: absolute;
  right: 30px;
  line-height: 35px;
}

.not-found {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  color: #f6851b;
}

#gallery {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.token-card {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin: 30px;
  box-shadow: 0 0 10px rgba(95, 125, 149, .3);
  transition: transform 150ms cubic-bezier(.25,.46,.45,.94), box-shadow 150ms cubic-bezier(.25,.46,.45,.94);
}

.token-card:hover {
  cursor: pointer;
  box-shadow: 0 0 40px rgba(43, 55, 65, 0.3);

}

.token-id {
  font-size: 15px;
}

.token-name {
  padding: 10px;
  color: rgb(73, 72, 72);
}

.token-card > div {
  margin: 10px;
}

.hide {
  display: none;
}

.check-mark {
  color: green;
  font-size: 20px;
}

.highlight-border {
  border: 5px solid rgba(43, 55, 65, 0.3);
}